<%- include('./partials/header') %>
<div class="w-full h-screen bg-main bg-cover">
  <div class="flex flex-col relative gap-5">
    <h1 class="text-white text-center text-6xl mx-auto">Welcome to Graduation Day</h1>
    <div>
      <div class="flex justify-center items-center" >
        <img src="/images/klvngaming.jpg" width="300px" height="100px" alt="profile-siswa">
      </div>
    </div>
    <div class="mx-auto">
      <h3
        id="studentName"
        class="text-white w-full h-fit text-center text-5xl font-semibold">Kelvin</h3>
      <h3 
        id="studentClass" 
        class="text-white w-full h-fit text-center text-5xl font-semibold">KELAS 1</h3>
      <h3 
        id="studentUnit" 
        class="text-white w-full h-fit text-center text-5xl font-semibold">HOMESCHOOLING</h3>
    </div>
  </div>
</div>

<script type="module" src="/js/socketIO.js"></script>
<script src="/socket.io/socket.io.js"></script>
<%- include('./partials/footer'); %>
