<%- include('./partials/header') %>
<div class="w-full h-screen bg-main bg-cover fixed">
  <div
    id="welcomeText"
    class="flex flex-col justify-center text-center items-center gap-10 h-screen pt-24"
  >
    <p class="text-5xl text-[#D59529] dm-serif-display-regular">
      Selamat Datang,
    </p>
    <div>
      <p
        id="studentName"
        class="text-[5rem] text-[#D59529] dm-serif-display-regular animation-name max-w-5xl"
      >
        Peserta Lepas Kenang 2024 
      </p>
      <p id="studentDepartement"
      class="text-[4rem] text-[#D59529] dm-serif-display-regular animation-name max-w-5xl">
      SEKOLAH KAK SETO
      </p>
    </div>
  </div>
</div>

<script type="module" src="/js/socketIO.js"></script>
<script src="/socket.io/socket.io.js"></script>
<%- include('./partials/footer'); %>
